<html>

<head>
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <script src="https://kit.fontawesome.com/b81a788407.js" crossorigin="anonymous"></script>
</head>



<footer>
    <div class="footer-content">
        <img src="../images/logos/logo.png" width= '50' height = '50'  alt="Logo Birra Haus">
        <h3>Síguenos</h3>
        <ul class="socials">
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-youtube"></i></a></li>
        </ul>
        <h3>Contacto</h3>
        <ul class="contact">
            <li><a href=""><i class="fa fa-whatsapp"></i></a></li>
            <li><a href=""><i class="fa fa-envelope"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>Beber con moderación. Prohibida su venta a menores de 18 años.</p>
        <p>Copytight &copy; 2021 BirraHaus. Designed by <span>grupo12</span></p>
    </div>
</footer>

</html>
