<header class="header">
  <div class="overlay has-fade"></div>
  <nav class="flex flex-jc-sb flex-ai-c">
    <a href="/" class="header__logo">
      <img  alt="">
    </a>

    <a href="#" id="btnHamburger" class="header__hamburger hide-for-desktop">
      <span></span>
      <span></span>
      <span></span>
    </a>


    <div class="header__links hide-for-mobile">
      <a href="/products">TIENDA</a>
      <a href="">NACIONALES</a>
      <a href="">INTERNACIONALES</a>
      <a href="">VARIEDADES</a>
      <a href="">MARCAS</a>
      <a href="/users/register">REGISTRO</a>
      <a href="">CONTACTO</a>
    </div>

    <div class="header__menu has-fade">
      <a href="/products">TIENDA</a>
      <a href="">NACIONALES</a>
      <a href="">INTERNACIONALES</a>
      <a href="">VARIEDADES</a>
      <a href="">MARCAS</a>
      <a href="/users/register">REGISTRO</a>
      <a href="">CONTACTO</a>
    </div>

    <div class="header__button hide-for-mobile">
      <a href="" class="button">LOGIN</a>
      <a href="" class="button">CARRITO</a>
    </div>
  </nav>
</header>