<header class="header">
  <div class="overlay has-fade"></div>
  <nav class="flex flex-jc-sb flex-ai-c">
    <a href="/" class="header__logo">
      <img  alt="">
    </a>

    <a href="#" id="btnHamburger" class="header__hamburger hide-for-desktop">
      <span></span>
      <span></span>
      <span></span>
    </a>


    <div class="header__links hide-for-mobile">
      <a href="/products">TIENDA</a>
      <a href="">NACIONALES</a>
      <a href="">INTERNACIONALES</a>
      <a href="">VARIEDADES</a>
      <a href="">MARCAS</a>
      <a href="">CONTACTO</a>
    </div>

    <div class="header__menu has-fade">
      <a href="/products">TIENDA</a>
      <a href="">NACIONALES</a>
      <a href="">INTERNACIONALES</a>
      <a href="">VARIEDADES</a>
      <a href="">MARCAS</a>
      <a href="">CONTACTO</a>
    </div>

    <div class="header__button hide-for-mobile">
      <% if (locals.isLogged) { %>
        
        
          <a class="nav-link dropdown-toggle" href="#" id="dropUser" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="/images/usuarios/<%= locals.userLogged.avatar %>" width="40" style="border-radius: 100%;">
            Hola <%= locals.userLogged.first_name %>
          </a>
          <a href="" class="button">CARRITO</a>
                

      <% } else { %>
        <a href="/users/register" class="button">REGISTRO</a>
        <a href="/users/login" class="button">LOGIN</a>
        <a href="" class="button">CARRITO</a>
      <% } %>
    </div>
  </nav>
</header>