<header>
    <nav>
        <ul>
            <li><a href="">Item</a></li>
            <li><a href="">Item</a></li>
            <li><a href="">Item</a></li>
            <li><a href="">Item</a></li>        
        </ul>
    </nav>
</header>