<head>
    <link rel="stylesheet" href="/stylesheets/header.css">
</head>

<head>
    <link rel="stylesheet" href="/stylesheets/header.css">
</head>

<header class="header">
    <nav class="flex flex-jc-sb flex-ai-c">
      <a href="/" class="header__logo">
        <img  alt="">
      </a>
  
      <a href="#" id="btnHamburger" class="header__hamburger hide-for-desktop">
        <span></span>
        <span></span>
        <span></span>
      </a>
  
  
      <div class="header__links hide-for-mobile">
        <a href="/products">TIENDA</a>
        <a href="">NACIONALES</a>
        <a href="">INTERNACIONALES</a>
        <a href="">VARIEDADES</a>
        <a href="">MARCAS</a>
        <a href="/users/register">REGISTRO</a>
        <a href="">CONTACTO</a>
      </div>
  
      <div class="header__button hide-for-mobile">
        <a href="/users/login" class="button" >LOGIN</a>
        <a href="/products/productCart" class="button" >CARRITO</a>
      </div>
    </nav>
  </header>