<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link href="https://fonts.googleapis.com/css2?family=Catamaran&display=swap" rel="stylesheet">
  </head>
  
  <body>
    <% include ../partials/header %>

    <section class="container-slider-featured">
      <h3>SLIDER DESTACADAS</h3>
    </section> 
    
    <main class="home-main">
      <div class="container-shop">
        <h3>Productos</h3>
          <section class="container-products"> 
            <div class="product">
              <img src="../images/productos/nacionales/antares/antares_Atlantica-169x300.png" width='90' height='120' alt="antares_Atlantica" class="product-img">
              <div class="main-article">
                <h4 class= "description">Antares Atlántica 473cc x6</h4>
                <span class= "price">$ 1.190</span>
              </div>  
              <a href="#"><i class="cart-icon fas fa-cart-plus"></i></a>
            </div>
            <div class="product">
              <img src="../images/productos/nacionales/chachingo/chanchingo_ipa-169x300.png" width='90' height='120'
                alt="chachingo_IPA" class="product-img">
              <div class="main-article">
                <h4 class="description">Chachingo IPA 473cc x6</h4>
                <span class="price">$ 1.100</span>
              </div>
              <a href="#"><i class="cart-icon fas fa-cart-plus"></i></a>
            </div>
            <div class="product">
              <img src="../images/productos/nacionales/rabieta/rabieta_apa_mistica-169x300.png" width='90' height='120'
                alt="rabieta_APA" class="product-img">
              <div class="main-article">
                <h4 class="description">Rabieta APA Mística 473cc x6</h4>
                <span class="price">$ 1.000</span>
              </div>
              <a href="#"><i class="cart-icon fas fa-cart-plus"></i></a>
            </div>
            <div class="product">
              <img src="../images/productos/nacionales/pampa/amber_Pampa-1-169x300.png" width='90' height='120'
                alt="pampa_Amber" class="product-img">
              <div class="main-article">
                <h4 class="description">Pampa Amber 473cc x6</h4>
                <span class="price">$ 1.250</span>
              </div>
              <a href="#"><i class="cart-icon fas fa-cart-plus"></i></a>
            </div>
            <div class="product">
              <img src="../images/productos/internacionales/alemania/cerveza_weidmannPilsenerLata500ml_grande.png" width='90' height='120'
                alt="weidmann_Pilsener" class="product-img">
              <div class="main-article">
                <h4 class="description">Weidmann Pilsener 500ml x6</h4>
                <span class="price">$ 1.320</span>
              </div>
              <a href="#"><i class="cart-icon fas fa-cart-plus"></i></a>
            </div>
            <div class="product">
              <img src="../images/productos/internacionales/holanda/oranjeboom-extra-strong.png" width='90' height='120'
                alt="oranjeboom_ExtraStrong" class="product-img">
              <div class="main-article">
                <h4 class="description">Oranjeboom Extra Strong 500cc x6</h4>
                <span class="price">$ 1.440</span>
              </div>
              <a href="#"><i class="cart-icon fas fa-cart-plus"></i></a>
            </div>
            <div class="product">
              <img src="../images/productos/internacionales/irlanda/guinness-Lata.png" width='90' height='120'
                alt="guinness_Draught" class="product-img">
              <div class="main-article">
                <h4 class="description">Guinness Draught 473cc x6</h4>
                <span class="price">$ 1.480</span>
              </div>
              <a href="#"><i class="cart-icon fas fa-cart-plus"></i></a>
            </div>
            <div class="product">
              <img src="../images/productos/internacionales/belgica/beliriumNocturum_312x312.png" width='90' height='120'
                alt="belirium_Nocturnum" class="product-img">
              <div class="main-article">
                <h4 class="description">Belirium Nocturnum 473 cc x6</h4>
                <span class="price">$ 1.380</span>
              </div>
              <a href="#"><i class="cart-icon fas fa-cart-plus"></i></a>
            </div>
          </section>
      </div>
     
     <section class="carousel-brands">
        <h3>Carrusel Marcas destacadas</h3>
     </section>

     <section class="container-info">
       <h3>Medios de Pago Envios rápidos Compra Segura</h3>
     </section>
    
    </main>

    <% include ../partials/footer %>
    </body>
  
</html>
