

    <% include ../partials/head %>

    <body>

        <% include ../partials/header %>

        <form action="/admin/create" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <input type="text" class="form-control" name="nombre" placeholder="Nombre" required="required"
                    value="">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" name="precio" placeholder="Precio" required="required"
                    value="">
            </div>
            <div class="form-group">
                <select name="origen" class="custom-select" id="validationCustom04" required>
                    <option selected disabled value="#">Origen</option>
                    <option value="argentina">Argentina</option>
                    <option value="alemania">Alemania</option>
                    <option value="belgica">Belgica</option>
                    <option value="holanda">Holando</option>
                    <option value="irlanda">Irlanda</option>
                    <option value="mexico">Mexico</option>
                </select>
            </div>
            <div class="form-group">
                <select name="marcas" class="custom-select" id="validationCustom04" required>
                    <option selected disabled value="#">Marcas</option>
                    <option value="antares">Antares</option>
                    <option value="beagle">Beagle</option>
                    <option value="chanchingo">Chanchingo</option>
                    <option value="pampa">Pampa</option>
                    <option value="penon-aguila">Peñon del Aguila</option>
                    <option value="rabieta">Rabieta</option>
                </select>
            </div>
            <div class="form-group">
                <select name="variedad" class="custom-select" id="validationCustom04" required>
                    <option selected disabled value="#">Marcas</option>
                    <option value="ipa">I.P.A</option>
                    <option value="apa">A.P.A</option>
                    <option value="golden">Golden</option>
                    <option value="amber">Amber</option>
                    <option value="porter">Porter</option>
                    <option value="stout">Stout</option>
                    <option value="cream">Cream</option>
                    <option value="honey">Honey</option>
                    <option value="lager">Lager</option>
                </select>
            </div>
            <div class="form-group">
                <select name="amargor" class="custom-select" id="validationCustom04" required>
                    <option selected disabled value="#">Marcas</option>
                    <option value="bajo">Bajo</option>
                    <option value="medio">Medio</option>
                    <option value="alto">alto</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="descripcion" placeholder="Descripción"
                    required="required" value="">
            </div>
            <div class="form-group">
                <select name="descuento" class="custom-select" id="validationCustom04" required>
                    <option selected disabled value="#">Elija su descuento</option>
                    <option value="0">Sin descuento</option>
                    <option value="15">15%</option>
                    <option value="30">30%</option>
                </select>
            </div>
            <!--Aquí solicito la imagen-->
            <div class="custom-file">
                <input type="file" name="imagen">
                <!--<input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="imagen" required value=""> 

    <label class="custom-file-label" for="inputGroupFile01">Seleccione una imagen...</label>-->
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn btn-info">Guardar</button>
                <a href="/admin" class="btn btn-danger">Volver</a>
            </div>

        </form>
        
            
        <% include ../partials/footer %>
    </body>

</html>