<% include ../partials/head %>

    <body>

        <% include ../partials/header %>
            <div class="detail-container">
                <div class="product-main">
                    <img src="/imagenes/products/<%= myProduct.imagen%>" width='250'
                        height='350' alt="antares_Atlantica">
                    <h1><%= myProduct.nombre%> X6</h1>
                </div>
                <div class="product-description">
                    <div class="description-text">
                        <p><%= myProduct.descripcion%>
                            <br> Cont. Neto por lata 473cm3
                        </p>
                    </div>
                    <br>
                    <div class="product-data">
                        <p class="data-title">Ficha Técnica:</p>
                        <p>Alcohol: 5%</p>
                        <p>IBU: 18</p>
                        <p>Amargor: Bajo</p>
                    </div>
                    <div class="price flex flex-ai-center flex-jc-sb ">
                        <p class="price">Pack x6 <br>$ <%= myProduct.precio%></p>
                        <a href="#" class="button">Agregar al Carrito</a>
                        <a href="#" class="button">Agregar al Carrito</a>
                    </div>
                </div>

            </div>
        <% include ../partials/footer %>
    </body>

</html>        