* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

.detail-container{
    border-top: solid 1px black;
}

.product-main {
    text-align: center;
}

.product-main h1 {
    font-size: 18px;
}

.product-description {
    font-size: 13px;
    margin: 25px;
}

.description-text {
    text-align: justify;
}

.data-title {
    text-decoration: underline;
    font-weight: bold;
}

.price {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}

.buy-button {
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    font-size: 16px;
    background: #C1BFBF;
    border: none;
    display: block;
    min-width: 35%;
    margin: 40px auto;
    height: 40px;
    cursor: pointer;
}

@media (min-width: 640px) {
    .detail-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .price {
        margin-top: 15px;
        text-align: left;
    }

    .product-main {
        margin-bottom: 20px;
    }
}