/* .containerForm {
    background: #D0D0D0;
    background-image: url();
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

form h1 {
    text-align: center;
    font-size: 600;
    margin-top: 15px;
    padding: 0;
}

form {
    background: white;
    margin: 50px auto;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    max-width: 500px;
    border-radius: 8px;
    width: 80%
}

form .group {
    position: relative;
    margin: 25px;
}

form input {
    margin-top: 20px;
    background: none;
    font-size: 18px;
    padding: 10px 5px 10px 5px;
    border: none;
    border-bottom: 1px solid black;
    width: 96%;
}

form input:focus {
    outline: none;
}

form ::placeholder {
    font-size: 16px;
    text-align: center;
}

form label {
    color: black;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    left: 5px;
    top: 10px;
    pointer-events: none;
    margin-bottom: 20px;
}

form select {
    padding: 10px;
    font-size: 16px;
}

form .barra {
    position: relative;
    display: block;
    width: 100%;
}

form .barra::before {
    content: "";
    height: 1.5px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: #FFB803;
    transition: 0.3s ease width;
    left: 0;
}

form input:focus~.barra::before {
    width: 100%;
}

form .check {
    position: relative;
}

form button {
    font-family: 'Catamaran', sans-serif;
    background: #C1BFBF;
    font-weight: bold;
    border: none;
    display: block;
    width: 40%;
    margin: 50px auto;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}

.formLogin p {
    text-align: center;
}

.formLogin p a {
    text-decoration: none;
    color: black;
    transition: color .4s ease;
}

.formLogin p a:hover {
    color: #FFB803;
    text-shadow: currentColor;
}
 */

 .register-wrap {
     display: flex;
     background: #D0D0D0;
     align-items: center;
     justify-content: center;
     width: 100%;
 }

.register-form {
    padding: 2.5rem;
    margin: 1.5rem;
    background-color: white;
    width: 34.375rem;
 }

 .register-form h1 {
     text-transform: uppercase;
     font-weight: 600;
     margin-bottom: 2rem;
     text-align: center; 
 }

 .input-wrap {
    display: flex;
    align-items: center;
    margin-top: 1.25rem;
}

.input-wrap p {
    font-size: medium;
}
.input-wrap input {
    width: 100%;
    font-size: medium;
    font-weight: 500;
    padding: 0.25rem 0;
    border: none;
    border-bottom: 1px solid black;
    transition: 500ms esae all;
}

.input-wrap input::placeholder {
    text-align: center;
}

.input-wrap input:focus {
    outline: none;
    box-shadow: 0 1px 0 0 #FFB803;
    border-color: #FFB803;
}

.input-wrap input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.625rem;
}

.input-wrap input[type="checkbox"]:focus {
    outline: none;
    box-shadow: none;
    border-color: none;
}

.input-wrap button {
    text-transform: uppercase;
    margin: 0 auto;
    font-size: medium;
    cursor: pointer;
    padding: 1rem;
    background-color: black;
    color: white;
    border: 1px solid white;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
}

.input-wrap button:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
  }

