  @media (max-width: 63.9375em) {
    .hide-for-mobile {
      display: none;
    }
  }
  
  @media (min-width: 64em) {
    .hide-for-desktop {
      display: none;
    }
  }
  
  .header nav {
    padding: 17px 24px;
  }
  
 
  
  .header__hamburger > span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: black;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-transform-origin: 3px 2px;
            transform-origin: 3px 2px;
  }
  
  .header__hamburger > span:not(:last-child) {
    margin-bottom: 5px;
  }
  
  .header__hamburger.open > span:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .header__hamburger.open > span:nth-child(2) {
    opacity: 0;
  }
  
  .header__hamburger.open > span:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  .header__button a:not(:last-child) {
    margin-right: 0.3125rem;
  }
  
  .header__links a {
    position: relative;
    font-size: 0.875rem;
    color: #9698a6;
    -webkit-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
    font-weight: 700;
  }
  
  .header__links a:not(:last-child) {
    margin-right: 0.725rem;
  }
  
  .header__links a::before {
    position: absolute;
    content: "";
    display: block;
    height: 5px;
    left: 0;
    right: 0;
    bottom: -30px;
  }
  
  .header__links a:hover {
    color: #2d314d;
  }
  
  .header__links a:hover::before {
    background: #2d314d;
  }
  
  .header__logo{
    background-image: url(/images/logos/logo2.png);
    width: 10rem;
    height: 4.375rem;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (max-width: 63.9375em) {
    .header__logo {
        background-image: url(/images/logos/logo.png);
        background-size: 43%;
        background-repeat: no-repeat;
    }
  }

  .has-fade {
    visibility: hidden;
  }
  
  @-webkit-keyframes fade-in {
    from {
      visibility: hidden;
      opacity: 0;
    }
    1% {
      visibility: visible;
      opacity: 0;
    }
    to {
      visibility: visible;
      opacity: 1;
    }
  }
  
  @keyframes fade-in {
    from {
      visibility: hidden;
      opacity: 0;
    }
    1% {
      visibility: visible;
      opacity: 0;
    }
    to {
      visibility: visible;
      opacity: 1;
    }
  }
  
  .fade-in {
    -webkit-animation: fade-in 200ms ease-in-out  forwards;
            animation: fade-in 200ms ease-in-out  forwards;
  }
  
  @-webkit-keyframes fade-out {
    from {
      visibility: visible;
      opacity: 1;
    }
    99% {
      visibility: visible;
      opacity: 0;
    }
    to {
      visibility: hidden;
      opacity: 0;
    }
  }
  
  @keyframes fade-out {
    from {
      visibility: visible;
      opacity: 1;
    }
    99% {
      visibility: visible;
      opacity: 0;
    }
    to {
      visibility: hidden;
      opacity: 0;
    }
  }
  
  .fade-out {
    -webkit-animation: fade-out 300ms ease-in-out  forwards;
            animation: fade-out 300ms ease-in-out  forwards;
  }
  
  
  @media (max-width: 63.9375em) {
    .hide-for-mobile {
      display: none;
    }
  }
  
  @media (min-width: 64em) {
    .hide-for-desktop {
      display: none;
    }
  }
  
  .header {
    position: relative;
    z-index: 1;
  }
  
  .header.open .header__hamburger > span:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .header.open .header__hamburger > span:nth-child(2) {
    opacity: 0;
  }
  
  .header.open .header__hamburger > span:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  .header .overlay {
    opacity: 0;
    position: fixed;
    top: 108px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(transparent));
    background-image: linear-gradient(#2d314d, transparent);
  }
  
  .header nav {
    position: relative;
    padding: 17px 24px;
  }
  
  @media (max-width: 63.9375em) {
    .header__logo img {
      width: 9.375rem;
      height: auto;
    }
  }
  
  .header__hamburger > span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: #2d314d;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-transform-origin: 3px 1px;
            transform-origin: 3px 1px;
  }
  
  .header__hamburger > span:not(:last-child) {
    margin-bottom: 5px;
  }
  
  .header__menu {
    position: absolute;
    width: calc(100% - 3rem);
    left: 50%;
    top: 110px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: white;
    margin-top: 1.5rem;
    padding: 1.625rem;
    border-radius: 5px;
  }
  
  .header__menu a {
    display: block;
    padding: 0.625rem;
    color: #2d314d;
    text-align: center;
  }
  
  .header__button a:not(:last-child) {
    margin-right: 0.3125rem;
  }
  
  
  