  @media (max-width: 63.9375em) {
    .hide-for-mobile {
      display: none;
    }
  }
  
  @media (min-width: 64em) {
    .hide-for-desktop {
      display: none;
    }
  }
  
  .header nav {
    padding: 17px 24px;
  }
  
 
  
  .header__hamburger > span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: black;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-transform-origin: 3px 2px;
            transform-origin: 3px 2px;
  }
  
  .header__hamburger > span:not(:last-child) {
    margin-bottom: 5px;
  }
  
  .header__hamburger.open > span:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .header__hamburger.open > span:nth-child(2) {
    opacity: 0;
  }
  
  .header__hamburger.open > span:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  .header__button a:not(:last-child) {
    margin-right: 0.3125rem;
  }
  
  .header__links a {
    position: relative;
    font-size: 0.875rem;
    color: #9698a6;
    -webkit-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
    font-weight: 700;
  }
  
  .header__links a:not(:last-child) {
    margin-right: 0.725rem;
  }
  
  .header__links a::before {
    position: absolute;
    content: "";
    display: block;
    height: 5px;
    left: 0;
    right: 0;
    bottom: -30px;
  }
  
  .header__links a:hover {
    color: #2d314d;
  }
  
  .header__links a:hover::before {
    background: #2d314d;
  }
  
  .header__logo{
    background-image: url(/images/logos/logo2.png);
    width: 10rem;
    height: 4.375rem;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (max-width: 63.9375em) {
    .header__logo {
        background-image: url(/images/logos/logo.png);
        background-size: 43%;
        background-repeat: no-repeat;
    }
  }