* {
  margin: 0;
  padding: 0;
  font-family: 'Catamaran', sans-serif;
}

a, a:active, a:hover {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  padding: 1rem;
  background-color: black;
  color: white;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.container-slider-featured {
  display: none;
}

img.fondo-slider {
  width: 100%;
}

.fondo-SLIDER {
  max-width: 100%;
  object-fit: cover;
}

.main-shop {
  padding: 1.25rem;
}

.container-shop {
  background-color: #3C3C3C;
  padding: 24px;
}

h3 {
  color: white;
  font-size: 1.4375rem;
  margin-bottom: 0.625rem;
}

.container-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.product {
  background-color: #F8F3F3;
    padding: 20px;
    width: 200px;
    height: 300px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
}

.main-article {
  padding-top: 40px;
}

.main-article h4 {
  font-size: 0.9375rem;
}

.cart-icon {
  color: #111111;
  cursor: pointer;
  margin-top: 20px;
}

.cart-icon a i {
  font-size: 18px;
  transition: color .4s ease;
}

.cart-icon a:hover i {
  color: #FFB803;
}

/* CARRUSEL MARCAS
.carousel-brands {
  background-color: #BCBCBC;
}*/

.container-tips {
  background-color: white;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 24px;
}


@media (max-width: 63.9375em) {
  .container-tips {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .tip:not(:last-child) {
    margin-bottom: 10px;
  }
}

.container-slider-featured {
  display: block;
}