.container-styles {
    background-color: #242424
}

.menu-style {
    text-decoration: none;
    list-style: none;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 0
}

.style-link {
    text-decoration: none;
    
}