<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/forms.css' />
</head>

<body>

    <% include ../partials/header %>

    <div class="containerForm">
        <form action="/login" method="POST" id="loginForm">
            <div class="formLogin">
                <h1>Iniciar sesión</h1>
                <div class="group">
                    <label for=""></label>
                    <input type="text" placeholder="Usuario" name='user' id='user' required><span class="barra"></span>
                </div>
                <div class="group">
                    <label for=""></label>
                    <input type="password" placeholder="Contraseña" name="pass" required><span class="barra"></span>
                </div>
                <div class="button">
                    <button type="submit">Ingresar</button>
                </div>
                <p>No tienes cuenta regístrate <a href="register">aquí</a></p>
            </div>
        </form>
    </div>

    <% include ../partials/footer %>

</body>