<% include ../partials/head %>
    <body>
        <% include ../partials/header %>

            <div class="form-wrap">
                <div class="form register-form">
                    <h1>Registro</h1>
                    <form action="">
                        <div class="input-wrap">
                            <input type="text" placeholder="Usuario">
                        </div>
                        <div class="input-wrap">
                            <input type="text" placeholder="Nombre">
                        </div>
                        <div class="input-wrap">
                            <input type="text" placeholder="Apellido">
                        </div>
                        <div class="input-wrap">
                            <input type="email" placeholder="E-mail">
                        </div>
                        <div class="input-wrap">
                            <input type="password" placeholder="Contraseña">
                        </div>
                        <div class="input-wrap">
                            <input type="checkbox">
                            <p>Acepto los Términos y Condiciones y la Política de Privacidad.</p>
                        </div>
                        <div class="input-wrap">
                            <button type="submit">Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>

        <% include ../partials/footer %>
    </body>

    </html>