<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/forms.css' />
</head>

<body>

    <% include ../partials/header %> 

    <div class="containerForm">
        <form action="/register" method="POST" id="registerForm">
            <div class="form">
                <h1>Registro</h1>
                <div class="group">
                    <label for=""></label>
                    <input type="text" placeholder="Nombre" name='name' id='name' required><span class="barra"></span>
                </div>
                <div class="group">
                    <label for=""></label>
                    <input type="email" placeholder="Email" name='email' id='email' required><span class="barra"></span>
                </div>
                <div class="group">
                    <label for=""></label>
                    <input type="text" placeholder="Usuario" name='user' id='user' required><span class="barra"></span>
                </div class="group">
                <div class="group">
                    <label for=""></label>
                    <input type="password" placeholder="Contraseña" name="pass" required><span class="barra"></span>
                </div>
                <div class="group">
                    <label for=""></label>
                    <input type="password" placeholder="Confirmar Contraseña" name="confirm-pass" required><span
                        class="barra"></span>
                </div>
                <div class="check">
                    <input type="checkbox" name="acceptTerms" value="a" id="checkbox">
                    <label for="checkbox">Acepto los Términos y Condiciones y la Política de Privacidad</label>
                </div>
                <div>
                    <div>
                        <button type="submit">Registrarse</button>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <% include ../partials/footer %>

</body>