<% include ../partials/head %>

    <body>
        <% include ../partials/header %>
            <div class="container-styles">
                <h3>Marcas</h3>                          
                <% for( let i=0; i < filterBrands.length; i++){ %>
                    <ul>
                        <a href="#"><li class="style">
                            <%= filterBrands[i] %>
                        </li></a>
                    </ul>        
                <% } %> 
            </div>
        <% include ../partials/footer %>
    </body>
</html>