<% include ../partials/head %>

    <body>
        <% include ../partials/header %>
            <div class="detail-container">
                <div class="product-main">
                    <img src="/images/productos/nacionales/antares/antares_Atlantica-169x300.png" width='250'
                        height='350' alt="antares_Atlantica">
                    <h1>Antares Atlantica 473cc X6</h1>
                </div>
                <div class="product-description">
                    <div class="description-text">
                        <p>Se trata de una cerveza bien argentina, sedosa, balanceada y delicada, una cerveza fácil
                            de tomar, rubia, liviana y refrescante, con sutiles sabores y aromas frutados, 
                            <br> Cont. Neto por lata 473cm3</p>
                    </div>
                    <br>
                    <div class="product-data">
                        <p class="data-title">Ficha Técnica:</p>
                        <p>Alcohol: 5%</p>
                        <p>IBU: 18</p>
                        <p>Amargor: Bajo</p>
                    </div>
                    <p class="price">Pack x6 <br>$1.190</p>
                    <button class="buy-button">Agregar al Carrito</button>
                </div>
                <!-- COMENTARIOS    
        <section class="comments">
            <div class="last-comments">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ratione, porro harum molestias nostrum, iste optio modi non exercitationem pariatur quaerat praesentium autem adipisci quibusdam? Aut quis totam ipsum cum.</p>
                <p class="author">Usuario1</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ratione, porro harum molestias nostrum, iste optio
                modi non exercitationem pariatur quaerat praesentium autem adipisci quibusdam? Aut quis totam ipsum cum.</p>
                <p class="author">Usuario2</p>
            </div>
            <div class="leave-comment">
                <input type="textarea" >
            </div>
        </section>>-->

            </div>

            <% include ../partials/footer %>
    </body>

    </html>